* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f3f4;;
}

h1{
    padding: 20px;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    left: 39rem;
    text-align: center;

    
 
}

img{
    padding: 10px;
    width: 100%;
    border-radius: 7px; 
}
    
img:hover{
    filter: saturate(150%);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow:hidden;
}





.row{
    display: flex;
    padding: 0px 10%;
    flex-wrap: wrap;
    justify-content: center;
}


.column{
    flex: 25px;
}

.column img{
    padding: 4px;
    margin-top: 3px;

}


@media (max-width: 800px){
    .column{
        width: 100%;
    }

}


@media (max-width: 600px){
    .column{
        width: 100%;
    }
}