#contact{
    padding: 20px;
    margin: 0;
    background-color: #adb5bd;
    h2{
        color: black;
        text-align: center;
        font-size: 3rem;
    }

.copyryght{
    font-size: 10px;
    text-align: center;
    color: black;
}

textarea.form-control {
    min-height: calc(8.5em + .75rem + 2px);
}

.mb-5 {
    margin-bottom: 1rem!important;
}
}

@mixin footer--mobile{
    #contact{
        h2{
        font-size: 2rem;
    }
}
    .copyryght{
        font-size: 9px;
    }
}